<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a href="#/sandbox">Sandbox</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rt asset man web</h3>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Assets</div>
  <div class="panel-body">
    <div class="form-group">
      <label>Filter Assets:</label>
      <input type="search" class="form-control" ng-model="searchText">
    </div>
  </div>

  <!-- Table -->
  <table class="table">
    <th>Name</th>
    <th>Quantity</th>
    <th>Description</th>
    <tr ng-repeat="asset in rawAssets | array | filter:searchText">
      <td><a href="#/edit/{{asset.idx}}">{{asset.name}}</td>
      <td>{{asset.quantity}}</td>
      <td>{{asset.description}}</td>
    </tr>
  </table>
</div>

<div class="footer">
  <p>Chris Lacko 2014</p>
</div>
